@import "tailwindcss";

:root {
  --primary-color: #777c49;
  --secondary-color: #3a110d;
  --primary-light: #8a9157;
  --primary-darker: #6a6d40;
  --secondary-light: #5a2a1f;
  --secondary-lighter: #6a3a2f;
}

* {
  scroll-behavior: smooth;
}

/* Enlaces del navbar con hover */
nav a {
  color: #666;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #777c49;
}
